.background {
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    width: 100%;
    height: 30%;
    //background: linear-gradient(180deg, $grey-color-dark, #0000);
}

.postCard {
    overflow: auto;
    width: 100%;
    height: auto;
    max-width: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2em;

    li {
        position: relative;
        float: left;
        display: block;
        margin: 0 0.5% 1% 0.5%;
        width: 32%;
    }

    a {
        text-decoration: none !important;
        color: #fff;
    }

    img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }
}

.postTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 16px;
    z-index: 1;
}

.postDescription {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding-right: 16px;
    z-index: 1;
}

@include media-query($on-palm) {
    .postCard li {
        width: 49%;
    }

    .postTitle {
        font-size: 1em;
    }

    .postDescription {
        font-size: 0.7em;
    }
}